@using TwitterBootstrap2
@using TwitterBootstrapMVC
@model NTU.Models.LoginModel

@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<script src="~/Scripts/jquery-1.8.0.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
@using (Ajax.BeginForm("SendPassword", "Account", new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "ForgotPasswordStatus(data)"
    }))
{
    @Html.AntiForgeryToken()
    <div id="MessageStatus"></div>
    <center>
        <div id="LoginDivWrapper" class ="ChatImage">
            <div style="text-align: center;  padding : 15px;" >
                
                <img src='@Url.Content("~/Images/Ntu.png")' width=100 height=100 alt="Account Logo">
            </div>
    
            @if (@ViewBag.Error != null & @ViewBag.Error != "")
            {
                @Html.Bootstrap().Label(@ViewBag.Error).HtmlAttributes(new { @style = "text-align:center;color:red;" })
            
            } 
            <div class="control-group" style="margin: 15px;">
                <div class="controls">
                    @Html.Bootstrap().TextBoxFor(model => model.EmailAddress).Placeholder("Email Address").Tooltip(new Tooltip("Email Address").Placement("top")).ShowValidationMessage(true)
                </div>
            </div>  
            <div class="control-group" style="margin: 15px;">
                <div class="controls">
                    @Html.Bootstrap().SubmitButton().Text("SEND EMAIL").HtmlAttributes(new { @class = "button" })
                </div>
            </div>    
            <div class="control-group" style="margin-right: -25px;margin-bottom: 50px;">
                <div class="controls">
                @Html.ActionLink("Back To LOGIN", "Index", "Account", null, new { @id = "ForgotPasswordLink" }) 
             </div>
            </div>  
        </div> 
   
         </center>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
<script type="text/javascript">
    function ForgotPasswordStatus(data) {
        $("#MessageStatus").dialog({
            title: "Message Status",
            show: { effect: "fadeIn", duration: 1000 },
            hide: {
                effect: 'blind',
                duration: 1000
            },
            modal: true,

        });

        $("#MessageStatus").html(data.param1);


    }

</script>


